
.nav { /* targets all the nav elements*/
	justify-content: center; /* centers the nav bar */
}

.nav-link{
	 color: white;
 }
 /* overides the nav-link normal black text color to white */
 /* @ reference https://www.youtube.com/watch?v=z4Ygm6EFaQ8 (minute 1:34)*/
 
 .first-heading{
	 color: white; /* targets the heading tag and makes the text white*/
 }
 
 /*this css targets the gallery*/
.column{
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}	
.column img{
	margin-top: 15px;
	vertical-align: middle;
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 500px){
.column{
	display: flex;
	flex-direction: column;
	gap: 15px
	
	}
}

	/*makes all the pictures the same dimensions*/
img{
	width: 100%;
  height: auto;
  
}
/* @reference https://www.youtube.com/watch?v=3TN9J3pCn6k
https://www.w3schools.com/css/css3_flexbox_responsive.asp 
https://www.youtube.com/watch?v=wsTv9y931o8&t=530s*/

/*
.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/*this part is for the action page*/ 
.apicture img {
	height: 500px;
	width: auto;
}
body{
	background: linear-gradient(red, white); /* creates a red to pink color gradient*/
	background-repeat: no-repeat; /* makes sure the graident is only shown once doesn't repeat itself multiple times*/
	width: auto;
	height: 50%; /* makes the gradient stop at 50% of the webpage/*
	/*@ reference https://medium.com/@miguelznunez/html-css-how-to-split-a-background-into-2-colors-1cdc394deb3d
	https://www.youtube.com/watch?v=wRNinF7YQqQ&t=1180s (16:56-20:52) */
}

div.contactS {
  text-align: center; /* puts the text in the center*/
}
  
 /* this part is for the contact page*/
.ctc-details{
	text-align: right;
}

.ctc-details{
display: inline-block;
    vertical-align: top;
}